<div class="container">
    <botao-voltar :funcao="voltar"></botao-voltar>
    <form action="#" class="caixa g-3 needs-validation mt-3 formulario" novalidate>
        <caixa-de-alerta :alerta-options="alertaOptions"></caixa-de-alerta>
        <titulo titulo="Disciplina" :objeto="disciplina" :visualizando="visualizando"></titulo>
        <div class="row">
            <caixa-de-texto label="Código" :valor="disciplina" campo="codigo" :visualizando="visualizando">
            </caixa-de-texto>
            <caixa-de-texto label="Nome" :valor="disciplina" campo="nome" :visualizando="visualizando">
            </caixa-de-texto>
            <div class="col-6">
                <caixa-de-numero label="Carga Horária" :valor="disciplina"
                                 campo="cargaHoraria" tipo="number"
                                 :visualizando="visualizando" minimo="0">
                </caixa-de-numero>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <botao-salvar v-show="!visualizando" :funcao="salvarDisciplina"></botao-salvar>
                <botao-cancelar :funcao="voltar"></botao-cancelar>
            </div>
        </div>
    </form>
</div>