<div class="container" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <botao-voltar :funcao="voltar"></botao-voltar>
    <form action="#" class="caixa formulario g-3 needs-validation mt-3" novalidate>
        <caixa-de-alerta :alerta-options="alertaOptions"></caixa-de-alerta>
        <titulo titulo="Grade Horária" :objeto="gradeHoraria" :visualizando="visualizando"></titulo>
        <div class="row">
            <div class="col-6">
                <caixa-de-numero label="Ano" :valor="gradeHoraria" campo="ano"
                                 :visualizando="visualizando" minimo="0">
                </caixa-de-numero>
            </div>

            <div class="col-6">
                <caixa-de-selecao label="Semestre" :valor="gradeHoraria" campo="semestreAno"
                                  :visualizando="visualizando" :lista="semestresDS"
                                  chave-combo="chave" campo-combo="valor">
                </caixa-de-selecao>
            </div>

            <div class="col-6">
                <caixa-de-numero label="Quantidade aulas por período" :valor="gradeHoraria"
                                 campo="quantidadeAulasPorTurno"></caixa-de-numero>
            </div>

            <div class="col-6">
                <caixa-de-numero v-show="gradeHoraria.id" label="C.H.S Total Disciplinas" :valor="gradeHoraria"
                                 campo="cargaHorariaSemanalTotal" visualizando="true"></caixa-de-numero>
            </div>

            <div class="col-6 mt-2">
                <botao-radio label="Dados de teste:" :valor="gradeHoraria" campo="isTeste"></botao-radio>
            </div>

            <div class="col-12">
                <botao-salvar v-show="!visualizando" :funcao="salvarGradeHoraria"></botao-salvar>
                <botao-cancelar :funcao="voltar"></botao-cancelar>
            </div>
        </div>
    </form>

    <div class="caixa" v-show="gradeHoraria.id" style="margin-bottom: 40px;padding-bottom: 30px;">
        <barra-menu :aba-selecionada="abaSelecionada" :abas="abasMenu"
                    :selecionar-aba="selecionarAba">
        </barra-menu>

        <div class="mx-3 tab-content">
            <div v-bind:class="estiloClassesNav('disciplinasGradeHoraria')" class="tab-pane fade" id="nav-disciplinas"
                 role="tabpanel">
                <caixa-de-alerta :alerta-options="alertaDisciplinasOptions"></caixa-de-alerta>
                <div v-show="!visualizando" class="row">
                    <div class="col-9">
                        <auto-complete :lista="disciplinas" v-model="disciplinaSelecionada"></auto-complete>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-success" @click="adicionarDisciplina">Adicionar</button>
                    </div>
                </div>

                <grid v-show="disciplinasGradeHoraria && disciplinasGradeHoraria.content.length"
                      :lista="disciplinasGradeHoraria"
                      :atributos="colunasDisciplinasGradeHoraria"
                      :funcao="buscarDisciplinasGradeHoraria"
                      :escoder-bototes="visualizando"
                      :atributos-selecionaveis="colunasSelecionaveis"
                      :funcao-excluir="excluirDisciplinaGradeHoraria"
                      :funcao-salvar="salvarDisciplinaGradeHoraria">
                </grid>
            </div>
        </div>

        <div class="mx-3 tab-content">
            <div v-bind:class="estiloClassesNav('restricoesProfessores')" class="tab-pane fade"
                 id="nav-restricoes-professores"
                 role="tabpanel">
                <caixa-de-alerta :alerta-options="alertaRestricoesOptions"></caixa-de-alerta>
                <grid :lista="restricoesProfessores"
                      :escoder-bototes="visualizando"
                      :atributos-checkbox="colunasDiasMarcadados"
                      :atributos="colunasRestricoesProfessores"
                      :funcao="buscarRestricoesProfessores"
                      :funcao-salvar="salvarRestricao">
                </grid>

            </div>
        </div>

        <div class="row" v-show="disciplinasGradeHoraria.content && disciplinasGradeHoraria.content.length">
            <div class="btn-gerar col-12">
                <botao-salvar class="btn-gerar" titulo="Gerar"
                              :funcao="abrirModalGerarGradeHoraria">
                </botao-salvar>
            </div>
        </div>
    </div>

<modal-selecionar-restricoes :options="modalOptions" :acoes-checkbox="restricoesCheckbox"
                             :funcao="gerarXLS">
</modal-selecionar-restricoes>
</div>